body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252582;
    color: #FFFFFF;
}

header {
    background-color: #553D67;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.section {
    background-color: #99738E;
    padding: 20px;
    margin-bottom: 20px;
}

.section h2 {
    margin-top: 0;
}

.section p {
    margin-bottom: 10px;
}

.section a {
    color: #2F2FA2;
}
